@font-face {
    font-family: "Montserrat-light";
    src: url("/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/font/Lora/Lora-Regular.ttf");
}

body {
    font-family: "Montserrat-light", sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

#App {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 25%;
}

ul {
    width: 30%; 
    text-align: left; 
    margin: 0 auto; 
    padding: 100px;
}

#todo {
    background-color: rgba(200,200,256,0.2);
}

li {list-style: none;}