#heading {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%
}
#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 964px) {
    #heading {
        justify-content: space-around;
        align-items: center;
        width: 95%;
        height: max-content;
        max-height: 1000px
    }
}