#AppName {
    position: absolute; 
    left: 10px;
    margin: 10px; 
    padding: 5px; 
    background-color: rgba(200,200,256,0.3);
}

#signUpLogin {
    position: absolute;
    left: 10px;
    top: 78px;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-family: "Montserrat-light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: none;
    background-color: rgba(200,200,256,0.2);
    border: none;
}