#AppName {
    position: absolute;
    left: 10px;
    margin: 10px; 
    padding: 5px;
    background-color: rgba(200,200,256,0.3);
}

#AppName a {
    text-decoration: none;
    color: inherit;
}

#signUpLogin {
    position: absolute;
    white-space: nowrap;
    left: 10px;
    top: 78px;
    width: min-content;
    margin-top: 10px;
    padding: 0px;
    border: none;
}

#signUpLogin a, #signUpLogin li, button {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-family: "Montserrat-light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background: none;
}

#login {margin-left: 2px;}
#logout {
    background-color: rgba(200,200,256,0.2) !important;
    margin-left: 10px;
}

a {padding: 5px 0 0 5px;}
img {width: 200px;}

button {padding: 10px 5px 10px 5px;}
button:focus {
    outline: none;
}
button:active {background-color: rgba(200,200,256,0.5);}
