#subheader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: inherit;
    font-weight: inherit;
    width: 100%;
    top: 147px;
    bottom: 10px;
    background: rgba(200,200,256,0.3);
}

@media only screen and (max-width: 940px) {
    #subheader {
        position: static;
        height: 130px;
        width: 180px;
        top: unset;
        bottom: unset;
        text-align: center
    }
}